################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
*.ide
*.ide-shm
*.ide-wal
/SerwareWebApi/SerwareWebAutheticationApi/obj/Debug/netcoreapp2.2
/SerwareWebApi/SerwareWebAutheticationApi/bin/Debug/netcoreapp2.2
